@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  min-height: 100vh;
  color: black;
  background-color: #fcfcfc;
}
body .dark {
 color: white;
 background-color: #222831;
}

a{
  text-decoration: none;
  color:inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app_content{
  display: flex;
}
.flex_col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
  width: 25px;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.cursor:hover{
  background-color: tomato;
  color: white;
}